label {
    color: var(--bg-color);
} 

input {
   appearance: none;
}


/* MAIN SECTION */

main {
   margin-top: 15vh;
   text-align: center;
}

main > .contact-banner {
   display: flex;
   flex-direction: column;
   margin-bottom: 4em;
   align-items: center;
   justify-content: center;
}
  

.contact-banner > h1 {
   display: inline-block;
   position: relative;
   margin-bottom: rem;
   padding-bottom: 0.2em;
   order: 2;
}

.contact-banner > h1::after {
   content: "";
   width: 50%;
   height: 5px;
   position: absolute;
   bottom: 0;
   left: 0;
   transform: translateX(50%);
   background-color: red;
   border-radius: var(--pry-radius); 
   transition: all 240ms ease-in;
}

.contact-banner > h1:hover::after {
   width: 100%;
   transform: translateX(0);
}

main .flex {
   background-color: #fff;
   color: #fff;
   padding: var(--pry-padding);
   margin-bottom: var(--bottom-margin);
   display: flex;
   flex-direction: column;
}

main .flex > h3 {
   color: var(--sec-color);
   order: 2;
   margin: 1rem 0;
}

main .flex > i {
   order: 1;
   font-size: 2.5rem;
   color: var(--other-blue);
}

main .flex > a {
   order: 3;
   color: var(--other-blue);
   text-transform: lowercase;
   font-size: 0.8rem;
   font-weight: 500;
   padding-bottom: 1em;
}

main .flex > p {
   order: 3;
}

form {
   margin-top: 4rem;
   position: relative;
   padding: 2rem 0;
}

.form-row {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   margin-bottom: 1em;
}

.form-row > label {
   font-size: 0.9rem;
   margin-bottom: 4px;
   font-weight: 500;
}

button {
   width: 100%;
}

