label {
    color: var(--bg-color);
} 

input {
   appearance: none;
}


/* MAIN SECTION */

main {
   margin-top: 15vh;
   text-align: center;
}

main > .contact-banner {
   display: flex;
   flex-direction: column;
   margin-bottom: 4rem;
   align-items: center;
   justify-content: center;
}
  
main .flex {
   background-color: #fff;
   color: #fff;
   padding: var(--pry-padding);
   margin-bottom: var(--bottom-margin);
   display: flex;
   flex-direction: column;
   position: relative;
   box-shadow: var(--general-shadow);
}

main .flex > h3 {
   color: var(--sec-color);
   order: 2;
   margin: 1rem 0;
}

main .flex > i {
   order: 1;
   font-size: 2.5rem;
   color: var(--other-blue);
   filter: var(--icon-shadow)
}

main .flex > a {
   order: 3;
   color: var(--other-blue);
   text-transform: lowercase;
   font-size: 0.8rem;
   font-weight: 500;
   padding-bottom: 1em;
}

main .flex > p {
   order: 3;
   padding: 5px 0;
}

main .flex > .social-media {
   order: 3;
   display: flex;
   justify-content: center;
}

main .chat i {
   color: var(--other-blue);
   margin-right: 1.5rem;
}

main .chat .last {
   margin-right: 0;
}

form {
   position: relative;
   padding: 2rem 0;
}

form > h2 {
   margin: 2rem 0;
   font-size: 1.5rem;
}

.form-row {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   margin-bottom: 1em;
}

.form-row > label {
   font-size: 0.9rem;
   margin-bottom: 4px;
   font-weight: 500;
}

button {
   width: 100%;
   border-radius: 25px;
}


