/* HEADER STYLE */

.banner {
    background-color: rgb(0, 0, 0);
    background-image: url("images/clint-patterson-dYEuFB8KQJk-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: center; 
    position: relative; 
    height: 100vh;
    margin: 0 -20px;
}

/* .banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(6px);
    background-color: rgba(10, 25, 47, .8);
} */

.banner .banner-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    padding-left: 1rem;
}

.banner p {
    color: #fff;
}

.banner .greeting {
    font-family: "dancing script", cursive;
    font-style: italic;
    font-weight: 900;
}

.banner .name {
    font-size: 1.4rem;
    font-weight: 900;
}

.banner .job-title {
    font-size: 2rem;
    font-weight: 900;
    font-family: "dancing script", cursive;
    background-image: var(--bg-gradient);
    background-size: 150%;
    background-position: left;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.banner .explorer {
    background-color: var(--bg-color);
    border-radius: 4px;
    padding: 0.3em 1.5em;
    cursor: pointer;
    font-family: "dancing script", cursive;
    text-align: center;
    margin: 1em 0 3em 0;
}

.banner .explorer::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;   
}

.banner .contact-list {
    line-height: 1.6;
}

.banner .contact-list i {
    color: skyblue;
    font-weight: bold;
}

.banner .contact-list span {
    font-size: 0.7rem;
    text-transform: lowercase; 
    margin-left: 6px;
}

.banner .contact-list a:hover,
.banner .contact-list a:focus {
    opacity: .75;
}


/* MAIN CONTENT STYLE */

main {
    padding-top: 2em;
}

article {
    text-align: center;
}

article h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    position: relative;
}

section {
    background-color: #fff;
    padding: 2em 1em;
    margin-bottom: 1em;
    border-radius: var(--pry-radius);
    box-shadow: 0 2px 8px 2px rgba(0,0,0,.1);
    transition: all 600ms ease-out;
}

section:hover {
    transform: scale(1.02);
    box-shadow: 0 2px 8px 2px rgba(0,0,0,.25);
}

section h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5em;
    font-weight: 400;
}

section i {
    color: transparent;
    background-image: var(--bg-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 2rem;
    /* color: var(--bg-color) */
}