:root {
    --bg-gradient: linear-gradient(45deg, #d65db1, #ff9671, #f9f871);
    --bg-color: rgb(10, 25, 47);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* GENERAL STYLE */

body {
    font-family: "raleway", sans-serif;
    font-size: 0.8rem;
    line-height: 1.4;
}

a {
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
    position: relative;
    padding-bottom: 0.2em;
    font-weight: 700;
    font-size: 1rem;
}

ul {
    list-style: none;
}

li {
    border-bottom: 1px solid rgba(0,0,0,.25);
    padding: 0.5em 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    opacity: .8;  
    margin-bottom: 2em;
}

img {
    max-width: 100%;
}



/* HEADER */

.banner {
    background-color: rgba(0,0,0,.45);
    background-image: linear-gradient(to right, rgba(0,0,0,.3), rgba(0,0,0,.5)), url("../images/clint-patterson-dYEuFB8KQJK-unsplash.jpg");
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
}

.banner-logo {
    width: 100%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 10vh;  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.banner-logo a {
    text-transform: capitalize;
    text-decoration: none;
    position: relative;
    padding-bottom: 0.2em;
    font-weight: 700;
    font-size: 1rem;
    color: transparent;
    background-image: var(--bg-gradient);
    background-clip: text;
    -webkit-background-clip: text;
}

.banner-logo h1 > a {
    font-weight: bold;
    font-family: "dancing script", cursive;
    font-size: 2rem;
    font-style: italic;
    padding-left: 0.7em;
    letter-spacing: 2px;
}

.banner-logo #toggler {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 6px;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

.banner-logo .hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 6px;
    z-index: 1;
    height: 40px;
    width: 40px;
    padding: 7px;
    /*background-color: #002244;
    /*border: 1px solid;*/
}

.banner-logo .hamburger > div {
    position: relative;
    width: 100%;
    height: 3px;
    background-image: var(--bg-gradient);
    border-radius: 3px;
    transition: all 400ms ease;
}

.banner-logo .hamburger > div::before,
.banner-logo .hamburger > div::after {
    content: "";
    position: absolute;
    top: -6.5px;
    width: 50%;
    height: 100%;
    background-image: inherit;
    border-radius: inherit;
    transition: transform 800ms ease;
}

.banner-logo .hamburger > div::after {
    top: 6.5px;
    right: 0;
}

.banner-logo #toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}

.banner-logo #toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}

.banner-logo #toggler:checked + .hamburger > div::before,
.banner-logo #toggler:checked + .hamburger > div::after {
    left: 25%;
    transform: rotate(90deg);
    transition: transform 600ms ease;
}

.banner-logo #toggler:checked ~ .main-nav {
     width: 100vw;
}

.banner-logo .main-nav {
    height: 100vh;
    overflow-x: hidden;
    transition: width 250ms ease-out;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0;
    background-color: rgba(0, 0, 0, .95);
    display: flex;
    justify-content: center;
    padding-top: 8em;
}

.banner-logo .main-nav a::after {
    content: "";
    background-color: #f9f871;
    border-radius: 4px;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;  
    transform: scaleX(0);
    transition:  transform 250ms ease-in;
}

.banner-logo .main-nav a:hover::after {
    transform: scaleX(1);
}

.banner .banner-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    padding-left: 1rem;
    line-height: 1.8;
}

.banner .greeting {
    font-size: 2rem;
    font-weight: bold;
}

.banner .name {
    font-weight: 900;
}

.banner .job-title {
    font-size: 1.5rem;
    font-weight: 900;
    background-image: var(--bg-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.banner .explorer {
    background-color: var(--bg-color);
    padding: 0.3em 1.5em;
    color: #57DFC2;
    cursor: pointer;
    font-family: "dancing script", cursive;
    text-align: center;
}

.banner .explorer::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;   
}


/* MAIN CONTENT STYLE */

main {
    margin-top: 30%;
    background-color: aliceblue;
}


/* FOOTER STYLE */

footer {
    /* position: fixed; */
    bottom: 0;
    left: 0;
    right: 0;
}

footer .social-media {
    color: #fff;
    background-color: #002244;
    padding: 0.8em;
    display: flex;
    align-items: center;
    position: relative;
}

footer .social-media::after {
    content: "Share";
    width: 100%;
    height: 100%;
    font-weight: 900;
    font-size: 1.3rem;
    font-family: "dancing script", cursive;
    background-color: #002244;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    transition: 250ms ease-in;
    transform-origin: top;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center
}

footer .social-media:hover::after {
    cursor: pointer;
    transform: scaleY(0);
}

footer ul {
    width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

footer ul li {
    width: 2em;
    height: 2em;
    border-radius: 100%;
    transition: 250ms ease-in;
}

footer ul li:hover {
    /* box-shadow: 0 0 3px 2px rgba(0,255,255,.48); */
    transform: scale(1.1); 
}

footer ul li:first-child {
     background-color: #3b5998;
}

footer ul li:nth-child(2) {
    background-color: #00acee;
}

footer ul li:nth-child(3) {
    background-image: linear-gradient(to right, #F58529, #FEDA77, #DD2A7B, #8134AF, #515BD4);
}

footer ul li:last-child {
    background-color: #0e76a8;  
}

footer a {
    padding: 0;
    transition: 250ms;
}

/* ABOUT ME SECTION */

.about article {
    
}
