:root {
    --bg-gradient: linear-gradient(45deg, #d65db1, #ff9671, #f9f871);
    --bg-color: rgb(10, 25, 47);
    --sec-color: #a58040;
    --other-blue: #002244;
    --banner-icon-color: #57DFC2;
    --pry-radius: 3px;
    --pry-padding: 2rem 1rem;
    --bottom-margin: 1rem;
    --black-shadow: rgba(0, 0, 0, .1);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* GENERAL STYLE */

body {
    font-family: "raleway", "segoe ui", Arial, sans-serif;
    font-size: 0.9rem;
    line-height: 1.4;
    scroll-behavior: smooth;
    background-color: aliceblue;
}

h1, h2, h3 {
    color: var(--bg-color);
}

p {
    /* margin-top: 1rem; */
    color: #696969;
}

a {
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
    position: relative;
    padding-bottom: 0.2em; 
    font-weight: 700;
    font-size: 1rem;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

input,
textarea {
   width: 100%;
   padding: 0.5rem;
   font-family: inherit;
   border-radius: var(--pry-radius);
   border: 1px groove #ddd;
   resize: none;
}

button {
    color: #fff;
    background-color: var(--other-blue, );
    border: none;
    border-radius: var(--pry-radius);
    font-family: inherit;
    font-weight: bold;
    position: relative;
    z-index: 1;
    padding: 0.5rem;
}

.container {
    width: calc(100% - 40px);
    max-width: 1020px;
    margin: 0 auto;
}



/* HEADER */

.banner-logo {
    width: 100%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 10vh;  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.banner-logo a {
    text-transform: capitalize;
    text-decoration: none;
    position: relative;
    padding-bottom: 0.2em;
    font-weight: 700;
    font-size: 1rem;
    color: transparent;
    background-image: var(--bg-gradient);
    background-clip: text;
    -webkit-background-clip: text;
}

.banner-logo h1 > a {
    font-weight: bold;
    font-family: "dancing script", cursive;
    font-size: 2rem;
    font-style: italic;
    padding-left: 0.7em;
    letter-spacing: 2px;
}

.banner-logo #toggler {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 6px;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

.banner-logo .hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 6px;
    z-index: 1;
    height: 40px;
    width: 40px;
    padding: 7px;
    /*border: 1px solid;*/
}

.banner-logo .hamburger > div {
    position: relative;
    width: 100%;
    height: 3px;
    background-image: var(--bg-gradient);
    background-size: 150%;
    background-position: left;
    border-radius: 3px;
    transition: all 400ms ease;
}

.banner-logo .hamburger > div::before,
.banner-logo .hamburger > div::after {
    content: "";
    position: absolute;
    top: -6.5px;
    width: 50%;
    height: 100%;
    background-image: inherit;
    border-radius: inherit;
    transition: transform 800ms ease;
}

.banner-logo .hamburger > div::after {
    top: 6.5px;
    right: 0;
}

.banner-logo #toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}

.banner-logo #toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}

.banner-logo #toggler:checked + .hamburger > div::before,
.banner-logo #toggler:checked + .hamburger > div::after {
    left: 25%;
    transform: rotate(90deg);
    transition: transform 600ms ease;
}

.banner-logo #toggler:checked ~ .main-nav {
     width: 100vw;
}

.banner-logo .main-nav {
    height: 100vh;
    overflow-x: hidden;
    transition: width 250ms ease-out;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0;
    background-color: rgba(0, 0, 0, .95);
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-logo li {
    border-bottom: 1px solid rgba(0,0,0,.25);
    padding: 0.5em 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    opacity: .8;  
    margin-bottom: 3em;
}

.banner-logo li:last-child {
    margin-bottom: 0;
}

.banner-logo .main-nav a::after {
    content: "";
    background-color: #f9f871;
    border-radius: 4px;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;  
    transform: scaleX(0);
    transition: transform 250ms ease-in;
}

.banner-logo .main-nav a:hover::after,
.banner-logo .main-nav a:focus::after {
    transform: scaleX(1);
}



/* FOOTER STYLE */

footer {
    /* margin-top: 30%; */
    margin: 0 -20px;
    color: #fff;
    background-color: var(--bg-color);
    text-align: center;
}

footer .social-media {
    padding: 0.8em;
    display: flex;
    align-items: center;
}

footer ul {
    width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

footer i {
    color: #ddd;
    transition: all 250ms ease;
}

footer i:hover,
footer i:focus {
    color: #fff; 
}

footer > p {
    font-weight: 300;
    color: #fff;
}
